
@font-face {
    font-family:'Absans';
src: url('../fonts/Absans-Regular.woff2')
}

h1{
    font-family: "Bungee Spice", sans-serif;
}


body {
    background-color: rgb(250, 242, 232);
    max-width: 800px;
    margin:auto;
    font-family:'Absans',sans-serif;

}

main{
    max-width: 100%;
    margin-left: 300px;
}

nav{
    padding: 1rem;
    border-bottom: 1px dashed darkblue; 
    border-right: 1px dashed darkblue;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;

    width: 300;
    position: fixed

    }

 img {
    display: block;
    max-width: 100%;
    padding: 2rem;
    border: border-width border-style border-color;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(165, 116, 116);
    box-sizing: border-box;
 }
p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.highlighted {
    background-color: honeydew;
    font-weight: bold;
}

.navigation {
    color: blueviolet;
}